@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --background-main: #1f1e1e;
  --color-main: #78a5a3;
  --color-bright: #e7a71b;

  --font-size: 20px;
  --font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  background: var(--background-main);
  color: var(--color-main);
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container__main {
  padding: 5em 2em;
  max-width: 767px;
}

.navbar__links {
  display: flex;
  gap: 2em;
}

.contact-link {
  color: hsl(
    var(--hue, 200),
    var(--saturation, 1%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
  );
}

.contact-link:hover {
  --lightness-offset: 40%;
}

.greetings {
  color: var(--color-bright);
}